{% extends "SuProfileBlogBundle::layout.html.twig" %}

{% block title %}
	Ajouter mon SuProfile - {{ parent() }}
{% endblock %}

{% block SuProfileblog_body %}
	<div class="border">
		<h3>Ajouter mon SuProfile</h3>

		{% include "SuProfileBlogBundle:Blog:formulaire.html.twig" %}
	</div>
{% endblock %}