{% extends "SuProfileBlogBundle::layout.html.twig" %}

{% block title %}
	Ajouter une publication - {{ parent() }}
{% endblock %}

{% block SuProfileblog_body %}
	<div class="border">
		<h3>Ajouter une publication</h3>
		
		{% include "SuProfileBlogBundle:Blog:formulaire.html.twig" %}
	</div>
{% endblock %}