{% extends "SuProfileBlogBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block SuProfileblog_body %}
	<div class="border">
		<h2>Bienvenue sur SuProfile !</h2></br>
		
		<p>Ce site a pour visée de faciliter et d'encourager le partage et la progression des membres de la communauté de SUPINFO !</p>
		
		<p>Pour celà SuProfile vous propose de publier des articles dans la <strong>SupActuality</strong> qui pourront aider à la compréhension du cours ou encore à 
		transmettre certaines directives données par les professeurs.</p> 
		
		<p>SuProfile permet aussi aux membres de la communauté de mettre en commun des fichiers de tout type dans la <strong>SupDownload</strong> comme des codes 
		sources, des projets, des pdfs, des logiciels, etc...</p> 
		
		<p>SuProfile vous propose aussi de créer votre <strong>SuProfile</strong> qui pourra vous servir de CV pendant votre scolarité, vous pourrez y rentrer vos notes et y 
		renseigner vos coordonées, vos formations, vos compétences et vos expériences professionnelles.</p></br>
		
		<p>En espérant que vous profiterez au maximum des outils mis à votre disposition, bonne navigation ! ;)
		</p>
	<div>
{% endblock %}